.course-container {
  padding: 10rem;
  /* background: #eee; */
}
.courseName {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  font-weight: 900;
  padding-top: 1.8rem;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #000, orange);
}
.courseCreator {
  /* font-size: 16px; */
  display: flex;
  flex-direction: column;

  gap: 0;
  /* padding: 20px; */

  color: #333;
  /* text-align: right; */
}
.courseCreator h5 {
  /* background: red; */
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 12px;
  font-size: 14px;
}
.courseCreator p {
  /* background: yellow; */
  font-size: 12px;
  padding-left: 60px;
  /* text-align: right; */
}
.course-btn:link,
.course-btn:visited {
  display: inline-block;
  transition: all 0.3s;
  font-size: 1.6rem;
  color: #eee;
  background-image: linear-gradient(to right, blue, orange);
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.475);
}
.course-btn:hover,
.course-btn:active {
  background-image: linear-gradient(to right, orange, blue);
  box-shadow: 0rem 1px 3px rgba(0, 0, 0, 0.162);
}
.btn-course {
  /* width: 10rem; */
  /* background: red; */
  width: 40%;
  margin: 0 auto 12px auto;
  padding-top: 1rem;
}
