.class-container {
  padding: 1rem 11rem 4rem;
  background: #eee;
}
.class-heading {
  font-size: 3.2rem;
  letter-spacing: 1.5px;
  color: transparent;
  background-image: linear-gradient(to right, #01013a, #1890ff);
  -webkit-background-clip: text;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}
.classe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 1100px) {
  .classe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .class-container {
    padding: 2rem 6rem;
    background: #ffffff;
  }
}
@media (max-width: 768px) {
  .classe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .class-container {
    padding: 2rem 4rem;
    background: #eee;
  }
}

.class-card {
  box-shadow: 0px 0px 3px rgb(166, 164, 164);
  background: #fff;
  overflow: hidden;
  transition: all 0.3s;
}
.class-card:hover {
  box-shadow: 3px 3px 4px rgb(166, 164, 164);
  /* background: blue; */
  color: white;
  cursor: pointer;
  /* overflow: hidden; */
}
.imgz {
  position: relative;
}
.class-subheading {
  font-size: 24px;
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2px;
}

.class-img {
  width: 100%;
  height: 137px;

  /* display: inline-block; */
  /* clip-path: polygon(0 0, 100% 0, 100% 35%, 0 69%); */
  object-fit: cover;
}
.class-icon {
  /* width: 100px; */
  position: absolute;
  bottom: -30px;
  left: 30px;
  box-shadow: 0px 1px 1px rgb(248, 245, 245);
  border-radius: 5px;
  /* border-radius: 40%; */
  /* object-fit: cover; */
  height: 70px;
}

.class-name {
  /* height: 250px; */
  font-size: 22px;
  margin: 6rem 2rem 6rem;
  color: #1890ff;
}
.class-name span {
  font-size: 14px;
  color: #555;
  display: block;
}
.course-name {
  padding: 2rem;
  color: #555;
  font-size: 16px;
  font-weight: 500;
}
