.logo {
  height: 32px;
  object-fit: fill !important;
  margin: 16px;
  /* border-radius: 50%; */

  background-image: url("https://cdn-icons-png.flaticon.com/512/2641/2641422.png");
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: rgba(173, 171, 171, 0.3);
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white !important;
  width: 800px !important;
  transition: all 0.2s;
}
