* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;

  transition: 0.3s ease-in;

  /* overflow: hidden; */
  /* background: white; */
  /* background: red; */
}
li a {
  color: #1890ff;
  font-weight: 900;
  /* font-size: 18px; */
}

.nav-bg {
  background: white;

  /* color: yellow; */
  box-shadow: 0px 1px 3px rgba(63, 63, 63, 0.48);
}
.logo-img {
  width: 100px;
  /* object-fit: cover; */
}
/* @media (max-width: 846px) {
  .logo-img {
    width: 80px;
   
  }
} */
@media (max-width: 768px) {
  .logo-img {
    width: 80px;
    /* object-fit: cover; */
  }
}
.logo {
  background: green;
}
.link-container {
  /* background: red; */
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  margin: 0;
  gap: 3rem;
}
@media (max-width: 410px) {
  .nav-links {
    font-size: 14px;
  }
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(to right, yellow, blue);
  -webkit-background-clip: text;

  transition: all 0.3s;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.ant-form-item-label label {
  /* font-size: 16px; */
  font-weight: bold;
}
/* .ant-menu-item a {
  color: white !important;
}
.antd-menu-item a:hover {
  color: blue !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item > *,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > * {
  flex: none;
  color: white !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item:hover > *,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title:hover > * {
  color: blue !important;
} */
